[submodule "lib/pddl-symmetries"]
	path = lib/pddl-symmetries
	url = https://github.com/tempate/pddl-symmetries.git
	branch = fix/pddl-symmetries-build
[submodule "lib/downward"]
	path = lib/downward
	url = https://github.com/aibasel/downward.git
[submodule "lib/planpilot"]
	path = lib/planpilot
	url = https://github.com/abcorrea/planpilot.git
