[submodule "lib/pddl-symmetries"]
	path = lib/pddl-symmetries
	url = https://github.com/silvansievers/pddl-symmetries.git
[submodule "lib/downward"]
	path = lib/downward
	url = https://github.com/aibasel/downward.git
[submodule "lib/planpilot"]
	path = lib/planpilot
	url = https://github.com/abcorrea/planpilot.git
[submodule "benchmarks/downward-benchmarks"]
	path = benchmarks/downward-benchmarks
	url = https://github.com/aibasel/downward-benchmarks.git
